body {
	font-family: sans-serif;
}

#lightbox {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

#lightbox.hidden, #lightbox .hidden {
    display: none;
}

#lightbox img.hero {
	max-width: 90%;
	max-height: 70%;
	margin-top: 5%;
}

#lightbox img.previous, #lightbox img.next {
	position: fixed;
    width: 94px;
	height: 100px;
	top: 40%;
}

#lightbox img.previous {
	left: 5%;
}

#lightbox img.next {
	right: 5%;
}

#lightbox .caption {
	position: fixed;
	width: 100%;
	max-height: 20%;
	bottom: 5%;
	color: #ffffff;
}
